<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Locadora</title>
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>

<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Locadora</span>
        </div>
    </nav>
</header>

<section>
    <div class="container" style="width: 60%; padding-bottom: 30px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item"><a href="/funcionarios">Funcionarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastro de Funcionario</li>
            </ol>
        </nav>

        <div>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="nome" placeholder="Digite o seu nome *">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="login" placeholder="Digite seu login aqui *">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="senha" placeholder="Digite sua senha aqui *">
                </div>

                <small class="form-text text-muted">(*) Campos obrigatórios!</small><br>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Cadastrar</button>
                <a href="/clientes" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>

            </form>
        </div>
    </div>
</section>
</body>
</html>