<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Locadora</title>
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>

<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Locadora</span>
        </div>
    </nav>
</header>

<section>
    <div class="container" style="width: 60%; padding-bottom: 30px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item"><a href="/produtos">Produtos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Produtos</li>
            </ol>
        </nav>

        <div>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="nome" placeholder="Digite o nome do Produto *">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="descrição" placeholder="Informe a Descirção do Produto *">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="preco" placeholder="Informe o Preço do Produto">
                </div>

                <small class="form-text text-muted">(*) Campos obrigatórios</small>

                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
                <a href="/posts" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
                <!--<button type="submit" class="btn" style="margin-top: 10px;">Cancelar</button>-->
            </form>
        </div>
    </div>

</section>

</body>
</html>